* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {

    background-image: url(https://png.pngtree.com/png-clipart/20201107/ourlarge/pngtree-hand-drawn-math-notebook-ruler-calculator-border-element-png-image_2401704.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;

}

/*DECLARACIONES  PARA EVITAR TRIANGULOS EN INPUT NUMERICOS*/
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/*************************************************************/
body {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h1 {
    text-align: center;
    margin-top: 200px;
}

.contenedor {
    width: 100%;
     max-width:500px;
    margin: 20px auto;
}

input {
    width: 100%;
    max-width: 200px;
    margin: 10px 20px;
    padding: 10px;
}

input[type="number"] {
    text-align: right;
}

input#resultado {
    margin: auto;
    display: block;
    border: none;
    background-color: violet;

}

@media (max-width: 500px) {
    .contenedor {
        text-align: center;
    }
}